@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&display=swap');

body {
  font-family: 'Cabinet Grotesk', sans-serif;
}

.mix-blend-overlay {
  mix-blend-mode: overlay;
}

.btn {
  font-family: 'Frank Ruhl Libre', serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.logo-container:hover .animate-scroll {
  animation-play-state: paused;
}